body{
    background-color: white;
}
#título{
    color: red ;
}
.MinhaDiv{
    background-color: tomato;
    height: 400px;
    
}
.Segunda{
    background-color: rgb(0, 139, 23);
    font-style: italic;
    height: 100px;
    width: 100px;
    
    

}